{{#unless_eq color_scheme "none"}}// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/{{ color_scheme }}';

// Override variables here

@import '~nativescript-theme-core/scss/index';

{{/unless_eq}}// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
